* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.slider-control-1 {
    position: absolute;
    top: 220px;
    left: 0px;
    width: 100%;
}

.slider-control-2 {
    position: absolute;
    top: 250px;
    left: 0px;
    width: 100%;
}

.slider-control-1 .slider-pager {
    height: 20px;
    display: inline-block;
    width: 32%;
    margin: 0;
    vertical-align: bottom;
    text-align: center;
}